treechildren::-moz-tree-checkbox
{
  /* unchecked checkbox treecells */
  list-style-image: url("chrome://asf/skin/off.png");
}
treechildren::-moz-tree-checkbox(checked)
{
  /* checked checkbox treecells*/
  list-style-image: url("chrome://asf/skin/on.png");
}
treechildren::-moz-tree-checkbox(disabled)
{
  /* disabled checkbox treecells */
  list-style-image: none;
}

